.benefits-section {
  display: flex;
  margin: 4rem auto;
  max-width: 1200px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.benefits-content {
  flex-basis: 50%;
  padding: 60px;
  background-color: #ffffff;
  position: relative;
}

.benefits-content::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 250px;
    border-radius: 50%;
    background-color: #4C2E89;
    bottom: -125px;
    left: -50%;
    z-index: 1;
}

.benefits-content > * {
    position: relative;
    z-index: 2;
}

.benefits-content h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.benefits-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 1em;
}

.benefits-image {
  flex-basis: 50%;
  background-color: #22D3EE;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.benefits-image img {
  max-width: 100%;
  border-radius: 15px;
}
